{% macro default(NAV_ITEMS, PAGE_DATA) %}
<!-- ▼▼▼ ヘッダー（PC） ▼▼▼ -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    {% if PAGE_DATA.NAV == 'top' %}
      <h1 class="navbar-brand my-0">LOGO</h1>
    {% else %}
      <a href="/" class="navbar-brand my-0">LOGO</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for ITEM in NAV_ITEMS %}
          {% if ITEM.id == PAGE_DATA.NAV %}
            {% set CURRENT_CLASS = ' active' %}
          {% else %}
            {% set CURRENT_CLASS = '' %}
          {% endif %}
          <li class="nav-item">
            <a href="{{ ITEM.link }}" class="nav-link{{ CURRENT_CLASS }}">{{ ITEM.label }}</a>
          </li>
        {% endfor %}
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="キーワードを入力">
        <button class="btn btn-primary flex-shrink-0" type="submit">検索</button>
      </form>
    </div>
  </div>
</nav>
<!-- ▲▲▲ ヘッダー（PC） ▲▲▲ -->
{% endmacro %}