{% macro default(NAV_ITEMS, PAGE_DATA) %}
<!-- ▼▼▼ ヘッダー（PC） ▼▼▼ -->
<nav class="bg-white px-2 sm:px-4 py-2.5">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    {% if PAGE_DATA.NAV == 'top' %}
      <h1>LOGO</h1>
    {% else %}
      <a href="/">LOGO</a>
    {% endif %}
    <button type="button" class="lg:hidden px-3 py-2.5 text-sm text-white bg-blue-700 rounded-lg hover:bg-blue-800">
      <i class="fas fa-bars"></i>
    </button>
    <div class="hidden lg:flex">
      <ul class="flex flex-row mr-4">
        {% for ITEM in NAV_ITEMS %}
          {% if ITEM.id == PAGE_DATA.NAV %}
            {% set CURRENT_CLASS = ' text-blue-700' %}
          {% else %}
            {% set CURRENT_CLASS = '' %}
          {% endif %}
          <li class="nav-item">
            <a href="{{ ITEM.link }}" class="block px-4 py-2{{ CURRENT_CLASS }}">{{ ITEM.label }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="flex">
        <div class="relative w-48">
          <input type="search" class="block p-2.5 w-full z-20 text-sm bg-gray-50 rounded-lg border border-gray-300" placeholder="キーワードを入力" required>
          <button type="button" class="absolute top-0 bottom-0 right-0 px-3 py-2.5 text-sm text-white bg-blue-700 rounded-r-lg hover:bg-blue-800">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- ▲▲▲ ヘッダー（PC） ▲▲▲ -->
{% endmacro %}