{% extends 'layouts/has-aside.njk' %}
{% set PAGE_DATA = {
  TITLE: 'お知らせ',
  DESCRIPTION: 'ページ概要',
  NAV: 'news',
  BREADCRUMB_ITEMS: [
    {
      link: '#',
      name: 'HOME'
    },
    {
      link: '#',
      name: 'お知らせ',
      current: true
    }
  ]
} %}

{% set NEWS_ITEMS = [
  {
    date: '2022/07/01',
    category: 'カテゴリー',
    title: 'ニュースタイトルが入ります。',
    link: '#'
  },
  {
    date: '2022/06/01',
    category: 'カテゴリー',
    title: 'ニュースタイトルが入ります。',
    link: '#'
  },
  {
    date: '2022/05/01',
    category: 'カテゴリー',
    title: 'ニュースタイトルが入ります。',
    link: '#'
  },
  {
    date: '2022/04/01',
    category: 'カテゴリー',
    title: 'ニュースタイトルが入ります。',
    link: '#'
  },
  {
    date: '2022/03/01',
    category: 'カテゴリー',
    title: 'ニュースタイトルが入ります。',
    link: '#'
  },
  {
    date: '2022/02/01',
    category: 'カテゴリー',
    title: 'ニュースタイトルが入ります。',
    link: '#'
  },
  {
    date: '2022/01/01',
    category: 'カテゴリー',
    title: 'ニュースタイトルが入ります。',
    link: '#'
  }
] %}

{% set TAB_ITEMS = [
  {
    name: '2022',
    link: '#',
    active: true
  },
  {
    name: '2021',
    link: '#',
    active: false
  },
  {
    name: '2020',
    link: '#',
    active: false
  }
] %}

{# ▼▼▼ コンポーネント読み込み ▼▼▼ #}
{% from 'components/hero.njk' import default as HERO %}
{% from 'components/breadcrumb.njk' import default as BREADCRUMB %}
{% from 'components/news-list.njk' import default as NEWS_LIST %}
{% from 'components/tabs.njk' import default as TABS %}
{# ▲▲▲ コンポーネント読み込み ▲▲▲ #}

{% block HERO_CONTENT %}
  {{ HERO('お知らせ', 'NEWS') }}
{% endblock %}

{% block PAGE_CONTENT %}
  {{ BREADCRUMB(PAGE_DATA.BREADCRUMB_ITEMS) }}
  {{ TABS(TAB_ITEMS) }}
  <div class="mt-2">
    {{ NEWS_LIST(NEWS_ITEMS) }}
  </div>
{% endblock %}

{% block BOTTOM_CONTENT %}
  <div class="mt-5">
    {% include 'components/contact.njk' %}
  </div>
{% endblock %}