{% set PRODUCTS = [
  {
    name: '製品名が入ります',
    thumb: 'https://picsum.photos/id/237/400/400',
    description: '製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。',
    link: '#'
  },
  {
    name: '製品名が入ります',
    thumb: 'https://picsum.photos/id/238/400/400',
    description: '製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。',
    link: '#'
  },
  {
    name: '製品名が入ります',
    thumb: 'https://picsum.photos/id/239/400/400',
    description: '製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。',
    link: '#'
  },
  {
    name: '製品名が入ります',
    thumb: 'https://picsum.photos/id/240/400/400',
    description: '製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。',
    link: '#'
  },
  {
    name: '製品名が入ります',
    thumb: 'https://picsum.photos/id/241/400/400',
    description: '製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。製品説明が入ります。',
    link: '#'
  }
] %}

{# ▼▼▼ コンポーネント読み込み ▼▼▼ #}
{% from 'components/product-links.njk' import small as PRODUCT_LINKS %}
{# ▲▲▲ コンポーネント読み込み ▲▲▲ #}

<!-- ▼▼▼ 製品情報 ▼▼▼ -->
<section class="mt-8">
  <h2 class="text-2xl">製品情報</h2>
  <div class="mt-2">
    {{ PRODUCT_LINKS(PRODUCTS) }}
  </div>
</section>
<!-- ▲▲▲ 製品情報 ▲▲▲ -->