{% set ASIDE_ITEMS = [
  {
    heading: '製品情報',
    links: [
      { link: '#', label: '製品情報トップ' },
      { link: '#', label: '製品詳細' },
      { link: '#', label: '導入のご相談' },
      { link: '#', label: '導入事例' }
    ]
  },
  {
    heading: 'お知らせ',
    links: [
      { link: '#', label: 'ニュースリリーストップ' },
      { link: '#', label: '月別アーカイブ' }
    ]
  },
  {
    heading: '会社情報',
    links: [
      { link: '#', label: '会社情報トップ' },
      { link: '#', label: '企業概要' },
      { link: '#', label: '社長挨拶' },
      { link: '#', label: '事業案内' },
      { link: '#', label: 'アクセスマップ' }
    ]
  }
] %}

<!-- ▼▼▼ サイドバー ▼▼▼ -->
<aside>
  <div class="flex">
    <div class="relative w-full">
      <input type="search" class="block p-2.5 w-full z-20 text-sm bg-gray-50 rounded-lg border border-gray-300" placeholder="キーワードを入力" required>
      <button type="button" class="absolute top-0 bottom-0 right-0 px-3 py-2.5 text-sm text-white bg-blue-700 rounded-r-lg hover:bg-blue-800">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  {% for ITEM in ASIDE_ITEMS %}
    <div class="mt-4">
      <h4>{{ ITEM.heading }}</h4>

      <div class="mt-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-400">
        {% for LINK in ITEM.links %}
          {% if loop.index == ITEM.links.length %}
            <a href="{{ LINK.link }}" class="block py-2 px-4 w-full rounded-t-lg cursor-pointer hover:text-blue-700">{{ LINK.label }}</a>
          {% else %}
            <a href="{{ LINK.link }}" class="block py-2 px-4 w-full rounded-t-lg border-b border-gray-400 cursor-pointer hover:text-blue-700">{{ LINK.label }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</aside>
<!-- ▲▲▲ サイドバー ▲▲▲ -->