{% macro default(NAME, TEXT, THUMB) %}
<div class="flex p-4 rounded-lg bg-gray-200 space-x-4">
  <div class="flex-shrink-0">
    <img class="w-16 h-16 rounded-full" src="{{ THUMB }}" alt="{{ NAME }}の写真">
  </div>
  <div class="flex-1 min-w-0">
    <p class="text-sm font-medium text-gray-900">{{ NAME }}</p>
    <p class="text-sm text-gray-500">{{ TEXT }}</p>
  </div>
</div>
{% endmacro %}