{% macro default(ITEMS) %}
  {% for ITEM in ITEMS %}
    {% if loop.index == ITEMS.length %}
      <section class="border-b border-gray-200">
    {% else %}
      <section>
    {% endif %}
      <h2 class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 bg-gray-200 border border-b-0 border-gray-200">{{ ITEM.question }}</h2>
      <div class="p-5 font-light border border-b-0 border-gray-200">
        <p>{{ ITEM.answer }}</p>
      </div>
    </section>
  {% endfor %}
{% endmacro %}