{% macro default(ITEMS) %}
  <div class="accordion" id="faq-list">
    {% for ITEM in ITEMS %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-{{ loop.index }}" aria-expanded="false">{{ ITEM.question }}</button>
        </h2>
        <div id="faq-{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#faq-list">
          <div class="accordion-body">{{ ITEM.answer }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
  <ul>
  </ul>
{% endmacro %}