{% set NAV_ITEMS = [
  {
    heading: '製品情報',
    links: [
      { link: '#', label: '製品情報トップ' },
      { link: '#', label: '製品詳細' },
      { link: '#', label: '導入のご相談' },
      { link: '#', label: '導入事例' }
    ]
  },
  {
    heading: 'お知らせ',
    links: [
      { link: '#', label: 'ニュースリリーストップ' },
      { link: '#', label: '月別アーカイブ' }
    ]
  },
  {
    heading: '会社情報',
    links: [
      { link: '#', label: '会社情報トップ' },
      { link: '#', label: '企業概要' },
      { link: '#', label: '社長挨拶' },
      { link: '#', label: '事業案内' },
      { link: '#', label: 'アクセスマップ' }
    ]
  }
] %}

{% set SNS_ITEMS = [
  {
    href: '#',
    icon: 'fab fa-facebook-f'
  },
  {
    href: '#',
    icon: 'fab fa-instagram'
  },
  {
    href: '#',
    icon: 'fab fa-twitter'
  }
] %}

<!-- ▼▼▼ フッター ▼▼▼ -->
<footer class="bg-gray-900 px-2 py-8 text-white">
  <div class="container mx-auto">
    <div class="flex justify-between">
      <div class="">
        <a href="/">LOGO</a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        {% for ITEM in NAV_ITEMS %}
          <div>
            <h2 class="mb-6 text-sm font-semibold">{{ ITEM.heading }}</h2>
            <ul class="text-gray-400">
              {% for LINK in ITEM.links %}
                <li class="mb-4">
                  <a href="{{ LINK.href }}" class="hover:underline">{{ LINK.label }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <p class="text-sm text-gray-500 sm:text-center">Copyright &copy; XXXXX 2022. All Rights Reserved.</p>
      <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
        {% for ITEM in SNS_ITEMS %}
          <a href="{{ ITEM.href }}" class="text-gray-500 hover:text-white">
            <i class="{{ ITEM.icon }}"></i>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
<!-- ▲▲▲ フッター ▲▲▲ -->
