{% macro default(TITLE, SUB_TITLE) %}
<!-- ▼▼▼ ヒーロー ▼▼▼ -->
<section class="py-5 bg-secondary text-white">
  <div class="container">
    <h1 class="h1">{{ TITLE }}</h1>
    <p class="mb-0">{{ SUB_TITLE }}</p>
  </div>
</section>
<!-- ▲▲▲ ヒーロー ▲▲▲ -->
{% endmacro %}