{% macro default(ITEMS) %}
<ul>
  {% for ITEM in ITEMS %}
    <li class="border-b border-gray-400 border-dotted">
      <a href="{{ ITEM.link }}" class="flex items-center py-3 hover:opacity-50">
        <span class="w-24">{{ ITEM.date }}</span>
        <span class="w-24 px-2 py-1 text-center text-xs text-white bg-gray-600 rounded">{{ ITEM.category }}</span>
        <span class="ml-4">{{ ITEM.title }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
{% endmacro %}