{% macro default(ITEMS) %}
  <ul>
    {% for ITEM in ITEMS %}
      {% if loop.index == 1 %}
        <li>
      {% else %}
        <li class="mt-2">
      {% endif %}
        <a href="{{ ITEM.link }}" class="flex flex-row items-center bg-white rounded-lg border shadow-md hover:bg-gray-100">
          <img class="object-cover w-48 rounded-l-lg" src="{{ ITEM.thumb }}" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ ITEM.name }}</h5>
            <p class="mb-3 font-normal text-gray-700">{{ ITEM.description }}</p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro small(ITEMS) %}
  <ul class="grid grid-cols-4 gap-2">
    {% for ITEM in ITEMS %}
      <li class="bg-white rounded-lg border border-gray-200 shadow-md">
        <a href="{{ ITEM.link }}">
          <img class="rounded-t-lg" src="{{ ITEM.thumb }}" alt="" />
        </a>
        <div class="p-5">
          <a href="{{ ITEM.link }}">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ ITEM.name }}</h5>
          </a>
          <a href="{{ ITEM.link }}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800">
            詳細を見る
            <i class="fas fa-arrow-right ml-2"></i>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}